@use 'win98' as win98;

@mixin variables() {
  @include typography();
  @include dimensions();
  @include palette();
  @include effects();
  @include win98();
}

@mixin win98() {
  & {
    @include win98.light();
  }

  @media (prefers-color-scheme: dark) {
    @include win98.dark();
  }
}

@mixin typography() {
  & {
    --font-family-content: 'Atkinson Hyperlegible', sans-serif;
    --font-family-win98: 'Pixelated MS Sans Serif', Arial;
    --font-family-terminal: 'VT323', monospace;
    --font-size-base: 20px;

    --font-size-xss: 0.5rem; // caption
    --font-size-xs: 0.7rem; // caption
    --font-size-sm: 0.85rem; // small
    --font-size-md: 1rem; // p
    --font-size-lg: 1.25rem; // h5
    --font-size-xl: 1.5rem; // h4
    --font-size-xxl: 1.75rem; // h3
    --font-size-xxxl: 2rem; // h2
    --font-size-xxxxl: 2.75rem; // h1
  }
}

@mixin dimensions() {
  & {
    --padding-xss: 2px;
    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 12px;
    --padding-lg: 16px;
    --padding-xlg: 24px;
  }

  @media (max-width: 768px) or (max-height: 600px) {
    --padding-xss: 2px;
    --padding-xs: 2px;
    --padding-sm: 4px;
    --padding-md: 8px;
    --padding-lg: 12px;
    --padding-xlg: 16px;
  }
}

@mixin palette() {
  & {
    --color-primary: #0f80ce;
    --color-accent: #008080;
    --color-background: #fafafa;
    --color-surface: white;
    --color-text-primary: black;
    --color-text-secondary: gray;
    --color-text-tertiary: darkgray;
    --color-text-anchor: var(--color-accent);
    --color-text-anchor-visited: var(--color-accent);
  }

  @media (prefers-color-scheme: dark) {
    --color-accent: #0cabab;
    --color-background: #0c0c0c;
    --color-surface: #121212;
    --color-text-primary: white;
    --color-text-secondary: #d5d5d5;
  }
}

@mixin effects() {
  & {
    --animation-curve-base: cubic-bezier(0.65, 0.05, 0.36, 1);
    --animation-curve-playful: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    --border-radius-base: var(--padding-sm);

    --box-shadow-base: 0 0 5rem rgba(0, 0, 0, 0.1);
  }

  @media (prefers-color-scheme: dark) {
    --box-shadow-base: 0 0 5rem rgba(0, 0, 0, 1);
  }
}
