@mixin variables() {
  @include typography();
  @include dimensions();
  @include palette();
  @include effects();
  @include win98();
}

@mixin win98() {
  & {
    --win98-text-color: #222222;
    --win98-surface: #c0c0c0;
    --win98-button-outline: #000000;
    --win98-button-highlight: #ffffff;
    --win98-button-face: #dfdfdf;
    --win98-button-shadow: #808080;
    --win98-window-frame: #0a0a0a;
    --win98-dialog-blue: #000080;
    --win98-dialog-blue-light: #1084d0;
    --win98-dialog-gray: #808080;
    --win98-dialog-gray-light: #b5b5b5;
    --win98-link-blue: #0000ff;

    --win98-element-font-size: 0.55rem;
    --win98-element-spacing: 8px;
    --win98-button-outline-offset: -4px;
    --win98-grouped-button-spacing: 4px;
    --win98-grouped-element-spacing: 6px;

    --win98-border-width: 1px;
    --win98-border-raised-outer: inset -1px -1px var(--win98-window-frame), inset 1px 1px var(--win98-button-highlight);
    --win98-border-raised-inner: inset -2px -2px var(--win98-button-shadow), inset 2px 2px var(--win98-button-face);
    --win98-border-sunken-outer: inset -1px -1px var(--win98-button-highlight), inset 1px 1px var(--win98-window-frame);
    --win98-border-sunken-inner: inset -2px -2px var(--win98-button-face), inset 2px 2px var(--win98-button-shadow);
    --win98-default-button-border-raised-outer:
      inset -2px -2px var(--win98-window-frame), inset 1px 1px var(--win98-window-frame);
    --win98-default-button-border-raised-inner:
      inset 2px 2px var(--win98-button-highlight), inset -3px -3px var(--win98-button-shadow),
      inset 3px 3px var(--win98-button-face);
    --win98-default-button-border-sunken-outer:
      inset 2px 2px var(--win98-window-frame), inset -1px -1px var(--win98-window-frame);
    --win98-default-button-border-sunken-inner:
      inset -2px -2px var(--win98-button-highlight), inset 3px 3px var(--win98-button-shadow),
      inset -3px -3px var(--win98-button-face);

    --win98-border-window-outer: inset -1px -1px var(--win98-window-frame), inset 1px 1px var(--win98-button-face);
    --win98-border-window-inner:
      inset -2px -2px var(--win98-button-shadow), inset 2px 2px var(--win98-button-highlight);

    --win98-border-field:
      inset -1px -1px var(--win98-button-highlight), inset 1px 1px var(--win98-button-shadow),
      inset -2px -2px var(--win98-button-face), inset 2px 2px var(--win98-window-frame);
    --win98-border-status-field: inset -1px -1px var(--win98-button-face), inset 1px 1px var(--win98-button-shadow);
  }

  // TODO: dark theme
}

@mixin typography() {
  & {
    --font-family-header: sans-serif; // FIXME: change to Hyperlegible
    --font-family-paragraph: sans-serif; // FIXME: change to Hyperlegible
    --font-family-win98: 'Pixelated MS Sans Serif', Arial;
    --font-family-terminal: 'VT323', monospace;
    --font-size-base: 20px;

    --font-size-xss: 0.5rem; // caption
    --font-size-xs: 0.7rem; // caption
    --font-size-sm: 0.85rem; // small
    --font-size-md: 1rem; // p
    --font-size-lg: 1.25rem; // h5
    --font-size-xl: 1.75rem; // h4
    --font-size-xxl: 2.25rem; // h3
    --font-size-xxxl: 2.75rem; // h2
    --font-size-xxxxl: 3.5rem; // h1
  }
}

@mixin dimensions() {
  & {
    --padding-xss: 2px;
    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 12px;
    --padding-lg: 16px;
    --padding-xlg: 24px;
  }

  @media (max-width: 768px) or (max-height: 600px) {
    --padding-xss: 2px;
    --padding-xs: 2px;
    --padding-sm: 4px;
    --padding-md: 8px;
    --padding-lg: 12px;
    --padding-xlg: 16px;
  }
}

@mixin palette() {
  & {
    --color-primary: #0f80ce;
    --color-accent: #008080;
    --color-background: #fafafa;
    --color-surface: white;
    --color-text-primary: black;
    --color-text-secondary: gray;
    --color-text-tertiary: darkgray;
    --color-text-anchor: var(--color-accent);
    --color-text-anchor-visited: var(--color-accent);
  }

  @media (prefers-color-scheme: dark) {
    --color-background: #0c0c0c;
    --color-surface: #121212;
    --color-text-primary: white;
    --color-text-secondary: #d5d5d5;
  }
}

@mixin effects() {
  & {
    --animation-curve-base: cubic-bezier(0.65, 0.05, 0.36, 1);
    --animation-curve-playful: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    --border-radius-base: var(--padding-sm);

    --box-shadow-base: 0 0 5rem rgba(0, 0, 0, 0.1);
  }

  @media (prefers-color-scheme: dark) {
    --box-shadow-base: 0 0 5rem rgba(0, 0, 0, 1);
  }
}
