@mixin light() {
  --win98-text-color: #222222;
  --win98-surface-light: #c0c0c0;
  --win98-surface: var(--win98-surface-light);
  --win98-button-outline: #000000;
  --win98-button-highlight: #ffffff;
  --win98-button-face: #dfdfdf;
  --win98-button-shadow: #808080;
  --win98-window-frame: #0a0a0a;
  --win98-dialog-blue: #000080;
  --win98-dialog-blue-light: #1084d0;
  --win98-dialog-gray: #808080;
  --win98-dialog-gray-light: #b5b5b5;
  --win98-link-blue: #0000ff;

  --win98-element-font-size: 0.55rem;
  --win98-element-spacing: 8px;
  --win98-button-outline-offset: -4px;
  --win98-grouped-button-spacing: 4px;
  --win98-grouped-element-spacing: 6px;
  --win98-border-width: 1px;

  --win98-border-raised-outer: inset -1px -1px var(--win98-window-frame), inset 1px 1px var(--win98-button-highlight);
  --win98-border-raised-inner: inset -2px -2px var(--win98-button-shadow), inset 2px 2px var(--win98-button-face);
  --win98-border-sunken-outer: inset -1px -1px var(--win98-button-highlight), inset 1px 1px var(--win98-window-frame);
  --win98-border-sunken-inner: inset -2px -2px var(--win98-button-face), inset 2px 2px var(--win98-button-shadow);
  --win98-default-button-border-raised-outer:
    inset -2px -2px var(--win98-window-frame), inset 1px 1px var(--win98-window-frame);
  --win98-default-button-border-raised-inner:
    inset 2px 2px var(--win98-button-highlight), inset -3px -3px var(--win98-button-shadow),
    inset 3px 3px var(--win98-button-face);
  --win98-default-button-border-sunken-outer:
    inset 2px 2px var(--win98-window-frame), inset -1px -1px var(--win98-window-frame);
  --win98-default-button-border-sunken-inner:
    inset -2px -2px var(--win98-button-highlight), inset 3px 3px var(--win98-button-shadow),
    inset -3px -3px var(--win98-button-face);

  --win98-border-window-outer: inset -1px -1px var(--win98-window-frame), inset 1px 1px var(--win98-button-face);
  --win98-border-window-inner: inset -2px -2px var(--win98-button-shadow), inset 2px 2px var(--win98-button-highlight);

  --win98-border-field:
    inset -1px -1px var(--win98-button-highlight), inset 1px 1px var(--win98-button-shadow),
    inset -2px -2px var(--win98-button-face), inset 2px 2px var(--win98-window-frame);
  --win98-border-status-field: inset -1px -1px var(--win98-button-face), inset 1px 1px var(--win98-button-shadow);
}

@mixin dark() {
  --win98-text-color: white;
  --win98-surface: #2e2e2e;
  --win98-button-outline: #6e6e6e;
  --win98-button-highlight: #494949;
  --win98-button-shadow: #242424;
  --win98-button-face: #525252;
  --win98-dialog-blue: #000063;
  --win98-dialog-blue-light: #0c629d;
  --win98-window-frame: #1d1d1e;

  --win98-border-raised-outer: inset -1px -1px var(--win98-window-frame), inset 1px 1px var(--win98-button-highlight);
  --win98-border-raised-inner: inset -2px -2px var(--win98-button-shadow), inset 2px 2px var(--win98-button-face);

  --win98-border-window-outer: inset -1px -1px var(--win98-window-frame), inset 1px 1px var(--win98-button-face);
  --win98-border-window-inner: inset -2px -2px var(--win98-button-shadow), inset 2px 2px var(--win98-button-outline);
}

@mixin scrollbars {
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 17px;
  }

  &::-webkit-scrollbar-corner {
    background: var(--win98-button-face);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--win98-surface);
    box-shadow: var(--win98-border-raised-outer), var(--win98-border-raised-inner);
    cursor: default;
  }

  &::-webkit-scrollbar-button:horizontal:start:decrement,
  &::-webkit-scrollbar-button:horizontal:end:increment,
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
  }

  &::-webkit-scrollbar-track {
    background-image: url('../assets/win98-scrollbar-background.svg');
  }
  &::-webkit-scrollbar-button:vertical:start {
    height: 17px;
    background-image: url('../assets/win98-scrollbar-button-up.svg');
  }
  &::-webkit-scrollbar-button:vertical:end {
    height: 17px;
    background-image: url('../assets/win98-scrollbar-button-down.svg');
  }
  &::-webkit-scrollbar-button:horizontal:start {
    width: 16px;
    background-image: url('../assets/win98-scrollbar-button-left.svg');
  }
  &::-webkit-scrollbar-button:horizontal:end {
    width: 16px;
    background-image: url('../assets/win98-scrollbar-button-right.svg');
  }

  @media (prefers-color-scheme: dark) {
    &::-webkit-scrollbar-track {
      background-image: url('../assets/win98-scrollbar-background-dark.svg');
    }
    &::-webkit-scrollbar-button:vertical:start {
      background-image: url('../assets/win98-scrollbar-button-up-dark.svg');
    }
    &::-webkit-scrollbar-button:vertical:end {
      background-image: url('../assets/win98-scrollbar-button-down-dark.svg');
    }
    &::-webkit-scrollbar-button:horizontal:start {
      background-image: url('../assets/win98-scrollbar-button-left-dark.svg');
    }
    &::-webkit-scrollbar-button:horizontal:end {
      background-image: url('../assets/win98-scrollbar-button-right-dark.svg');
    }
  }
}
