---
// import * as fs from 'fs';

// import Card from '../components/Card.astro';
import BoxImage from '../components/BoxImage.astro';
import Layout from '../layouts/Layout.astro';

// fs.readdirSync('src/pages').forEach((file) => {
//   console.log(file);
// });
---

<Layout title="Hi mom">
  <main>
    <BoxImage imagePath="src/assets/kangaroo.bmp" />
  </main>
</Layout>

<style lang="scss">
  main {
    // TODO: temporary!
    position: relative;
    overflow: visible;
    transform-style: preserve-3d;
    perspective: 10000px;
    transform: rotateX(339deg) rotateY(57deg) rotateZ(0deg);
  }
</style>
