---
// import * as fs from 'fs';

// import Card from '../components/Card.astro';
import Box from '../components/Box.astro';
import Layout from '../layouts/Layout.astro';

// fs.readdirSync('src/pages').forEach((file) => {
//   console.log(file);
// });
---

<Layout title="Hi mom">
  <main>
    <Box wx={100} wy={100} wz={100} surfaceColor="red" />
  </main>
</Layout>

<style lang="scss">
  main {
    // TODO: temporary!
    position: relative;
    overflow: visible;
    transform-style: preserve-3d;
    perspective: 2000px;
    transform: rotateX(339deg) rotateY(57deg) rotateZ(0deg);
  }
</style>
