---
import Acknowledgments from '../components/Acknowledgments.astro';
import BoxImage from '../components/BoxImage.astro';
import type { BitmapImagePath } from '../images';
import IndexLayout from '../layouts/IndexLayout.astro';

const hideSurfaces = { right: true };

const framesImagesPaths = Array.from({ length: 4 }, (_, i) => `src/assets/kangaroo_${i + 1}.bmp` as BitmapImagePath);
---

<IndexLayout title="Hi mom">
  <main>
    <div id="image-kangaroo-container" class="image-container">
      <BoxImage
        class="image-kangaroo"
        framesImagesPaths={framesImagesPaths}
        hideSurfaces={hideSurfaces}
        animationFrameMs={1500}
        animationDelayMs={500}
      />

      <Acknowledgments class="image-acks" />
    </div>
  </main>
</IndexLayout>

<script src="./index-interactive.ts"></script>

<style lang="scss">
  @use 'sass:list';

  .image {
    &-container {
      --rocking-offset: 10px;

      display: inline-block;
      position: relative;
      overflow: visible;
      transform-style: preserve-3d;

      // FIXME: TEMP!
      perspective: 1000000px;
      perspective-origin: 300px 300px;
      // transform: rotateX(-16deg) rotateY(32deg) rotateZ(0deg);
      transform-origin: center center;
      // animation: 2s image-rotation forwards ease-in-out;
      animation: image-rotation 2s forwards ease-in-out; // , tilt-n-move-shaking 20s infinite ease-in-out;
      // animation: shift-perspective 10s forwards ease-in-out;
      transition: transform 1s ease-in-out;
    }

    &-kangaroo {
      animation: image-rocking 20s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
    }
  }

  .image-acks {
    margin-top: 32px; // TODO: magic constant
  }

  @keyframes image-rocking {
    $pos: [[0, 0], [1, 0], [-1, 1], [1, -1], [1, 1], [-1, -1], [-1, 0], [1, 0], [0, 0]];
    @for $i from 0 through 8 {
      #{$i * 12.5%} {
        $x: list.nth(list.nth($pos, $i + 1), 1);
        $y: list.nth(list.nth($pos, $i + 1), 2);
        transform: translate(calc($x * var(--rocking-offset)), calc($y * var(--rocking-offset))) translateZ(-64px);
      }
    }
  }

  @keyframes image-rotation {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(-16deg) rotateY(32deg) rotateZ(0deg);
    }
  }
</style>
