---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <article>
    <h1>h1 To test or not to test - cloud journey</h1>
    <h2>h2 Journey back and forth</h2>
    <h3>h3 Preamble</h3>
    <section>
      <p>hello world</p>
      <p>hello everyone</p>
    </section>
    <h4>h4 Famous quote</h4>
    <blockquote>
      <p>
        When you have some text, how can you choose a typeface? Many people—professional designers included—go through
        an app's font menu until we find one we like. But the aim of this module is to show that there are many
        considerations that can improve our type choices. By setting some useful constraints to aid our type selection,
        we can also develop a critical eye for analyzing type along the way.
      </p>
      <cite>Albert Einstein</cite>
    </blockquote>
    <h3>h3 Postamble</h3>
    <section>
      <p>hello to you</p>
      <code>
        <pre>
        const a = 1;
        const b = 2;
        const c = a + b;</pre>
      </code>
      <p>hello to everyone else</p>
    </section>
    <h5>h5 And another note</h5>
    <p>Something cringe</p>
  </article>
</Layout>
