---
import type { BaseBoxProps } from '../components/Box.astro';
import ResumeEntry, { type ResumeEntryInfo } from '../components/ResumeEntry.astro';
import Layout from '../layouts/Layout.astro';

const hideSurfaces: BaseBoxProps['hideSurfaces'] = {
  right: true,
  back: true,
};

const entries: ResumeEntryInfo[] = [
  {
    year: 2007,
    title: 'Lorem ipsum dolor',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    techStack: ['Java', 'C#', 'Visual Basic', 'PHP'],
  },
  {
    year: 2010,
    title: 'Lorem ipsum dolor',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    techStack: ['Java', 'C#', 'Visual Basic', 'PHP'],
  },
  {
    year: 2012,
    title: 'Lorem ipsum dolor',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    techStack: ['Java', 'C#', 'Visual Basic', 'PHP'],
  },
  {
    year: 2016,
    title: 'Lorem ipsum dolor',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    techStack: ['Java', 'C#', 'Visual Basic', 'PHP'],
  },
  {
    year: 2017,
    title: 'Lorem ipsum dolor',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    techStack: ['Java', 'C#', 'Visual Basic', 'PHP'],
  },
  {
    year: 2020,
    title: 'Lorem ipsum dolor',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    techStack: ['Java', 'C#', 'Visual Basic', 'PHP'],
  },
  {
    year: 2021,
    title: 'Lorem ipsum dolor',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    techStack: ['Java', 'C#', 'Visual Basic', 'PHP'],
  },
];
---

<Layout title="Hi mom">
  <div class="resume-plane">
    {
      entries.map((r, i) => (
        <ResumeEntry style={{ '--i': entries.length - i - 1 }} entry={r} yearGridProperties={{ hideSurfaces }} />
      ))
    }
  </div>
</Layout>

<style lang="scss" is:global>
  html,
  body {
    overflow-x: hidden;
  }

  body {
    perspective: calc(var(--resume-parallax-offset) * 1.5);
    perspective-origin: center;
  }
</style>

<style lang="scss">
  :root {
    --resume-parallax-offset: 1000px;
    --resume-entry-width: 1200px;
  }

  .resume-plane {
    display: flex;
    flex-flow: column;
    align-items: center;
    transform-style: preserve-3d;
    padding: 0 0 0 calc(var(--padding-xlg) * 5);
    min-width: var(--resume-entry-width);
  }
</style>
