---
import * as fs from 'fs/promises';

import Acknowledgments from '../components/Acknowledgments.astro';
import Terminal, { type TerminalLine } from '../components/Terminal.astro';
import Win98Window from '../components/Win98Window.astro';
import Layout from '../layouts/Layout.astro';

const terminalPrefix = await fs.readFile('src/assets/terminal-header.txt', 'utf-8');

const terminalLines: TerminalLine[] = [
  { prompt: true, os: 'windows', line: 'ssh brain.io.local' },
  {
    prompt: false,
    os: 'linux',
    delay: 1000,
    line:
      'Welcome to Brain 1.01 LTS (GNU/Linux 4.15.0-55-generic x86_64)\n\n * Documentation:  https://github.com/mrnateriver/personal-site\n * Support:        https://github.com/mrnateriver\n\nLast login: ' +
      new Date().toISOString(),
  },
  { prompt: true, os: 'linux', host: 'nate@brain.io.local', line: 'tree /career' },
  { prompt: false, os: 'linux', host: 'nate@brain.io.local', line: 'zsh: command not found: tree' },
  { prompt: true, os: 'linux', host: 'nate@brain.io.local', line: 'sudo apt-get install tree' },
  {
    prompt: false,
    os: 'linux',
    host: 'nate@brain.io.local',
    line: 'Reading package lists... Done\nBuilding dependency tree... Done\nThe following NEW packages will be installed:\n  tree\nNeed to get 47.9 kB of archives.\nGet:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tree amd64 2.0.2-1 [47.9 kB]',
  },
  {
    prompt: false,
    os: 'linux',
    host: 'nate@brain.io.local',
    delay: 1000,
    line: 'Fetched 47.9 kB in 0s (203 kB/s)\nPreparing to unpack .../tree_2.0.2-1_amd64.deb ...\nUnpacking tree (2.0.2-1) ...\nSetting up tree (2.0.2-1) ...',
  },
  { prompt: true, os: 'linux', host: 'nate@brain.io.local', line: 'tree /career' },
  {
    prompt: false,
    os: 'linux',
    host: 'nate@brain.io.local',
    line: '.\n├── apitable-demo\n├── calculator\n│   ├── build_cra\n│   │   └── static\n│   │       ├── css\n│   │       └── js\n│   ├── build_eject\n│   │   └── static\n│   │       ├── css\n│   │       └── js\n│   ├── build_esbuil\n│   ├── build_parcel\n│   ├── build_vite\n│   │   └── assets\n│   ├── config\n│   │   └── jest\n│   ├── cypress\n│   │   ├── integrat\n│   │   ├── plugins\n│   │   └── support\n',
  },
];
---

<Layout title="Resume">
  <main>
    <h1>Resume</h1>

    <a class="back-home" href="/">{'<'} INDEX</a>

    <Win98Window class="terminal-window" caption="Command Prompt" fullWindowControls>
      <Terminal class="terminal-content" lines={terminalLines} header={terminalPrefix} />
    </Win98Window>

    <!-- TODO: announce resume contents for screen readers -->
  </main>

  <Acknowledgments class="acks" />
</Layout>

<style lang="scss">
  .acks {
    position: fixed;
    bottom: var(--padding-md);
    right: 0;
    left: 0;
  }

  .back-home {
    font-family: var(--font-family-decoration);
    margin-top: var(--padding-xlg);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--padding-xlg);
    padding: 0 var(--padding-xlg);
    height: 100%;

    h1 {
      position: absolute;
      opacity: 0;
    }
  }

  .terminal {
    &-window {
      flex: 1;
      width: 100%;
      min-height: 300px;
      max-width: 1000px;
      margin-bottom: calc(var(--padding-xlg) * 4);
    }

    &-content {
      position: absolute;
      overflow-x: hidden;
      overflow-y: scroll;
      border: 1pt solid gray;
      inset: 1pt;
    }
  }
</style>
