---
import AstroLogo from './AstroLogo.astro';
import GitHubLogo from './GitHubLogo.astro';
import SectionLink from './SectionLink.astro';

const { class: className } = Astro.props;
---

<section class:list={['acks-container', className]}>
  <p class="copyrights">© {new Date().getFullYear()} Evgenii</p>
  <div class="stack">
    <SectionLink
      class="stack-entry stack-astro"
      href="https://astro.build"
      borderOffset={0}
      borderSize={8}
      borderWidth={4}
    >
      <span>Made with CSS and</span>
      <AstroLogo color="var(--color-text-primary)" width={65} height={20} />
    </SectionLink>
    <SectionLink
      class="stack-entry stack-github"
      href="https://github.com/mrnateriver/personal-site"
      borderOffset={0}
      borderSize={8}
      borderWidth={4}
    >
      <span>Source code</span>
      <GitHubLogo color="var(--color-text-primary)" width={16} height={16} />
    </SectionLink>
  </div>
</section>

<style lang="scss">
  .acks-container {
    font-family: var(--font-family-decoration);
    font-size: var(--font-size-xs);

    @media (max-width: 650px) {
      font-size: var(--font-size-sm);
    }
  }

  .stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--padding-sm);

    @media (max-width: 650px) {
      gap: var(--padding-xs);
    }

    &-entry {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: right;
      position: relative;
      gap: var(--padding-md);
      padding: 0 var(--padding-lg);
      height: var(--font-size-xl);
      color: var(--color-text-primary);

      &:visited {
        color: var(--color-text-primary);
      }
    }
  }

  .copyrights {
    font-weight: normal;
    text-align: center;
    margin-bottom: var(--padding-xs);
    color: var(--color-text-tertiary);
  }
</style>
