---
import SectionLink from './SectionLink.astro';
const { class: className } = Astro.props;
---

<section class:list={['ack', className]}>
  <SectionLink class="ack-entry ack-astro" href="https://astro.build" borderOffset={8}>
    <div class="ack-text"><p>Made mostly with CSS using</p></div>
    <div class="ack-logo">
      <img src="src/assets/astro-logo-light.svg" />
    </div>
  </SectionLink>
  <SectionLink class="ack-entry ack-github" href="https://github.com/mrnateriver/personal-site" borderOffset={0}>
    <div class="ack-text"><p>Source code</p></div>
    <div class="ack-logo">
      <img src="src/assets/github-mark-white.svg" />
    </div>
  </SectionLink>
</section>

<style lang="scss">
  .ack {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-entry {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      position: relative;
      color: white;
      padding: 8px 0; // TODO: remove magic numbers
      margin-bottom: 8px; // TODO: remove magic numbers
      gap: 16px; // TODO: remove magic numbers
    }

    &-text {
      width: 150px; // TODO: remove magic numbers
      display: flex;
      justify-content: flex-end;

      p {
        margin: 0;
        line-height: 1;
        text-align: right;
        font-weight: bold;
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      width: 110px; // TODO: remove magic numbers
    }

    &-astro {
      img {
        width: 100px; // TODO: remove magic numbers
      }
    }

    &-github {
      img {
        width: 32px; // TODO: remove magic numbers
      }
    }
  }
</style>
