---
const { class: className } = Astro.props;
---

<aside class:list={['acks-container', className]}>
  <span class="acks-copyrights">© {new Date().getFullYear()} Evgenii</span>
  <a class="acks-source" href="https://github.com/mrnateriver/personal-site">Source code</a>
</aside>

<style lang="scss">
  .acks {
    &-container {
      display: flex;
      justify-content: center;
      gap: var(--padding-lg);
      font-family: var(--font-family-decoration);
      font-size: var(--font-size-sm);

      @media (max-width: 650px) {
        font-size: var(--font-size-xs);
      }
      @media (max-width: 500px) {
        font-size: var(--font-size-xss);
      }
    }

    &-copyrights {
      color: var(--color-text-tertiary);
      font-weight: normal;
      text-align: center;
    }
  }

  .stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--padding-sm);

    @media (max-width: 650px) {
      gap: var(--padding-xs);
    }

    &-entry {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: right;
      position: relative;
      gap: var(--padding-md);
      padding: var(--padding-xs) var(--padding-lg);
      color: var(--color-text-primary);

      &:visited {
        color: var(--color-text-primary);
      }
    }
  }
</style>
