---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- TODO: ! -->
    <meta name="description" content="Astro description" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  html {
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    color-scheme: dark;
    background-image: radial-gradient(#052524, black);
    background-size: 100% 50%;
  }

  body {
    height: 100%;
    background-image: url('src/assets/dot-pattern.svg');
    display: grid;
    place-items: center;
    overflow: hidden;
  }
</style>
